<!DOCTYPE html>
<html>
<head>

	<meta name="keywords" content="thatfrontend, HTML, CSS, Java, JavaScript, Hibernate, Spring, MVC, google, android" />
	<meta name="author" content="Francis del Mundo" />
	<meta http-equiv="content-type" content="text/html; charset=utf-8">

	<!-- Open Graph -->
	<meta property="og:image" content="http://thatfrontend.com/images/icon-facebook.gif" />
	<meta property="og:title" content="ThatFrontEnd" />
	<meta property="og:description" content="The epidermis of the internet" />
	<meta property="og:site_name" content="ThatFrontEnd.Com" />
	<meta property="og:url" content="http://thatfrontend.com" />
	
	<!-- Link -->
	<link rel="stylesheet" type="text/css" href="css/$.css" />
	
	<!-- Scripts -->
	<!--[if lt IE 9]>
	<script type="text/javascript" src="js/html5shiv.js"></script>
	<![endif]-->
	
	<script type="text/javascript" src="js/jquery-2.0.0.min.js"></script>
	
	<script type="text/javascript" src="js/$.js"></script>

</head>
<body>

	<section>
		<div>test</div>
	</section>


</body>
</html>